doctype 
html 
    head 
        title admin dashboard 
    body
        div 
            a(href="/admin/manageuser") Manage Users
        br
        div 
            a(href="/admin/managetopic") Manage Topics 
        br
        div 
            a(href="/admin/topicmanager") Manage Topic Managers
        br
        div 
            a(href="/admin/logout") Logout
        br    
         