doctype 
html 
    head 
        title admin edit page 
    body
        .container 
            form(action="/admin/edit/"+data._id, method="post") 
                div
                    label(for='name') Name:
                    input#name(type="text" name="name" value=data.name)  
                br
                div
                    label(for="email") E-Mail:
                    input#email(type="email" name="email"  value=data.email)
                br  
                div
                    label(for="phone") Phone:
                    input#phone(type="tel", name="phone"  value=data.email)
                br
                input(type='submit', value='Edit User')