doctype 
html 
    head 
        title Admin usermanagement 
        link(rel="stylesheet", href="/adusermanage.css")
        script(src="/admindelete.js") 
    body
        div
            a.btn(href="/admin/logout") Logout
        br 
        h2 Manage Users
        table(style='width:100%',border='2')
            tr
                th Name 
                th E-Mail 
                th Phone
                th Status
                th Reject
                th Approve 
                th Delete User
            each user in data
                tr
                    td #{user.name}
                    td #{user.email} 
                    td #{user.phone}
                    td #{user.approved}
                    td(onclick="rejectuser('"+user._id+"')" class="reject") Reject User
                    td(onclick="approveuser('"+user._id+"')" class="aprove") Approve User
                    td(onclick="userdelete('"+user._id+"')" class='del') Delete User
        if(message == "success")
             h3 edited successfully
        if(message2 == "success")
             h3 deleted successfully
        if(message3 == "success")
             h3 Rejected Approval
        if(message4 == "success")
             h3 Approved