doctype 
html 
    head 
        title Admin usermanagement 
        link(rel="stylesheet", href="admindbd.css")
        script(src="/admindelete.js") 
    body 
        table(style='width:100%',border='2')
            tr
                th Name 
                th E-Mail 
                th Phone 
                th Edit User
                th Delete User
            each user in data
                tr
                    td #{user.name}
                    td #{user.email} 
                    td #{user.phone}  
                    td 
                        a(href="/admin/edit/"+user._id) Edit User 
                    td(onclick="userdelete('"+user._id+"')" class='del') Delete User
        if(message == "success")
             h3 edited successfully
        if(message2 == "success")
             h3 deleted successfully