doctype 
html 
    head    
        title Article Health n Fitness 
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js')
    body
        #nav-bar
            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand(href='#')
                     | Blog
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                  i.fa.fa-bars(aria-hidden='true')
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='/dashboard') Home 
                        li.nav-item
                            a.nav-link(href='/loginhome') Login
        h2.title.text-center Health and Fitness
        .container
            each value in data
                div
                dl.row
                    dt.col-sm-3 Title
                    dd.col-sm-9 #{value.title}
                    dt.col-sm-3 Description
                    dd.col-sm-9 #{value.description}
                    dt.col-sm-3 Article 
                    dd.col-sm-9 #{value.article.substr(1,200)+' ...'}
                    dd.col-sm-8
                        a.btn.btn-primary(href="/article/helreadmore/"+value._id) Read More
                br