doctype
html 
    head 
        title Blog Login 
        link(rel="stylesheet", href="login.css") 
    body
        div
            a.login(href="/admin") Admin Login 
        br
        div
            a.login(href="/topicmanager/login") Topic Manager Login  
        br
        .container
            form(action="" method="post") 
                div 
                    label(for="email") E-Mail: 
                    input#email(type="email" name="email")
                br
                div 
                    label(for="password") Password: 
                    input#password(type="password" name="password")
                br
                input(type='submit', value='Login')
                h3 #{message}
            div
                a.btn.btn-primary(href="/signup") Register
            br
                
                
