doctype
html 
    head 
        title Blog Login 
    body 
        form(action="/", method="post") 
            div 
                label(for="name") Username: 
                input(name="name")
            br
            div 
                label(for="password") Password: 
                input(name="password")
            br
            button(type="submit") Login