doctype 
html 
    head 
        title Blog Signup
        link(rel="stylesheet", href="signup.css")
    body
        .container 
            form(action="" method="post" onsubmit="return signupvalidate()") 
                div
                    label(for='name') Name:
                    input#name(type="text" name="name")  
                br
                div
                    label(for="email") E-Mail:
                    input#email(type="email" name="email"  placeholder="E-mail")
                br  
                div
                    label(for="phone") Phone:
                    input#phone(type="tel", name="phone"  placeholder="00-0000000000")
                br
                div
                    label(for="password") Password:
                    input#password(type="password" name="password"  placeholder="password") 
                br
                input(type='submit', value='Signup')
                h3 #{message}
