doctype 
html 
    head 
        title Topic Manager Home
    body 
        h2 Welcome #{name}
        div 
            a(href="/topicmanager/articleapproval") Manage User Articles 
        div 
            a(href="/topicmanager/logout") Logout   