doctype 
html 
    head 
        title Topic Manager Login 
    body 
        .container 
            form(action="/topicmanager/login", method="post")
                div 
                    label(for="userid") Userid: 
                    input#userid(type="text", name="userid")
                br
                div 
                    label(for="password") Password: 
                    input#password(type="password", name="password") 
                br
                input(type="submit", value="Login")
                h3 #{message}