doctype 
html 
    head 
        title User Dashboard
    body 
        h2 Welcome #{name}
        div 
            a(href="/article/managearticles") Manage Articles 
        div 
            a(href="/logout") Logout   